body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.center {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px;
}

.container-head {
   display: flex;
   justify-content: space-between;
   width: 1140px;
   margin: 0 auto; 
   align-items: center;
   gap: 20px;
}

.navigation-head {
    display: flex;
    gap: 55px; 
    list-style: none;
    padding: 0;
    margin: 0; 
}

h1, h2, h5 {
    font-family: 'Playfair Display', serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    color: black;
    font-size: 86px;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Особые выравнивания */
h1 {
    text-align: left;
    font-weight: 600;
    margin: 0;
}
/* ===== ROBOTO ===== */
/* Навигация: Biography, Designers, Testimonials, Strengths */
nav, nav ul, nav li, nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    font-style: normal;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 30px; 
}

nav li, nav a {
    font-size: 24px;
    text-decoration: none;
    white-space: nowrap; 
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
}

/* ===== Заголовки Roboto ===== */
/* Biography, Designers, Testimonials */
h4 {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 24px;
    text-align: center;  
}

/* Повернутые заголовки */
h4.rotated {
    transform: rotate(270deg);
    display: inline-block;
    padding: 0px 25px 25px 0px;
  
}

h4.rotated-block-testimonials {
  padding: 0px;
  margin: 0px;
  transform: rotate(270deg);
  display: inline-block;
}

/* Заголовки слева */
h4.left-align {
    min-width: max-content; 
    text-align: left;
    margin: 0px 0px 40px 165px;
    white-space: nowrap;
}

/* ===== Art Director и текст справа ===== */
h6, p {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 18px;
    margin: 0px;
}

/* ===== Цитаты Bitter ===== */
/* Первая цитата */
blockquote.bitter-26 {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    text-align: left;
    max-width: 400px;
    margin: 0px;
}

/* Вторая цитата */
blockquote.bitter-32 {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin: 0px;
    text-align: center;
}

/* ===== Modern Web Studio ===== */
h3 {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 20px;
    text-align: center;   
}

address {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 16px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 16px;
}

em {
   font-family: 'Roboto', sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   color: black;
   font-size: 16px; 
   display: flex;
   align-items: center;
}

.site {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: black;
  transform: rotate(270deg);
  transform-origin: center; 
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}

.first-block {
  position: relative;
  padding: 20px 20px 20px 20px;
  height: 630px;
  width: 100%;
  background-image: url('../img/inside-weather-Uxqlfigh6oE-unsplash-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

div.first-block-text {
  display: flex;
  flex-direction: column;
  background: white;
  width: 690px;      
  height: 360px; 
  padding: 5px 10px 5px 10px;
  align-items: center;
  justify-content: center;
}

div.biography-block {
  display: flex;
  max-width: 100%;
  margin-top: 135px;
  margin-left: auto; 
  margin-right: auto;
  box-sizing: border-box;
}

.img_Katya {
   width: 571px;
   height: 840px;
  -o-object-fit: cover;
     object-fit: cover;
}

div.biography-block-text1 {
  flex-grow: 1;
}

div.biography-block-text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 36px;
}

div.designers-block {
  margin: 90px 0px 90px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 10px; 
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

div.Designer1 {
  grid-column: 1/span 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 10px;
  margin: 0;
}

div.Designer2 {
  grid-column: 2/span 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 100px;
  padding-left: 20px;
  margin: 0;
}

div.Designer3 {
  grid-column: 3/span 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 100px;
  padding-left: 20px;
  margin: 0;
  align-items: center;
}

div.Designer4 {
  grid-column: 4/span 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 100px;
  padding-left: 20px;
  margin: 0;
  align-items: center;
}

.names {
  margin-top: 20px;
}

.testimonials-block-parent {
  display: grid;
  grid-template-columns: 98px 451px 28px 526px;
  margin: 90px 0px 90px 0px;
  max-width: 100%;
  box-sizing: border-box;
}

.link1 {
  color: black; 
  font-weight: 400;
}

.item1-websites {
  grid-column: 1;
  width: 98px;
  height: 760px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden; 
  position: relative;
}

.item2-picture-cafe {
  grid-column: 2;
  width: 100%;
  height: 100%;
}


.item3-text {
  grid-column: 3/span 1;
  padding-top: 0px;
  padding-left: 0px;
  margin: 0;
  padding-right: 62px;
  padding-top: 80px;
}

.item4-quote {
  grid-column: 4/span 1;
  padding-top: 0px;
  padding-top: 8px;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.item5-picture-bag {
  margin: 42px 0px 0px 0px;
}


div.portfolio-block-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  align-items: stretch;
  align-items: center;
  max-width: 100%;
  height: 554px;
  padding: 0px 0px 300px 60px;
  margin: 0 auto;
  gap: 20px;
}

.portfolio-block-item1 {
 grid-column: 1;
 width: 100%;
 height: 554px;
 margin: 0;
 align-items: center;
}

.portfolio-block-item2{
  grid-column: 2;
  width: 100%;
  height: 554px;
  margin: 0;
  align-items: center;
}


.portfolio-block-item3 {
  grid-column: 3;
  width: 100%;
  height: 554px;
  margin: 0;
  align-items: center;
} 

.list-block-names {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0px 125px 0px 125px;
  white-space: normal;
}

.portfolio-block-item4 {
  grid-column: 4;
  width: 100%;
  height: 554px;
  margin: 0;
  align-items: center;
}


.portfolio-block-item1-img,
.portfolio-block-item2-img,
.portfolio-block-item4-img {
  width: 100%;
  height: 554px;
  -o-object-fit: cover;
     object-fit: cover;
}


