body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

.center {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-head {
   display: flex;
   justify-content: space-between;
   width: 1140px;
   margin: 0 auto; 
   align-items: center;
   gap: 20px;
}

.navigation-head {
    display: flex;
    gap: 55px; 
    list-style: none;
    padding: 0;
    margin: 0; 
}

h1, h2, h5 {
    font-family: 'Playfair Display', serif; 
    font-optical-sizing: auto;
    font-weight: 500;
    color: black;
    font-size: 86px;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Особые выравнивания */
h1 {
    text-align: left;
    font-weight: 600;
}

h5 {
    text-align: right;
    margin: 50px 200px 0px 0px;
}

/* ===== ROBOTO ===== */
/* Навигация: Biography, Designers, Testimonials, Strengths */
nav, nav ul, nav li, nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    font-style: normal;
    color: black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 30px; 
}

nav li, nav a {
    font-size: 24px;
    text-decoration: none;
    white-space: nowrap; 
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
}

/* ===== Заголовки Roboto ===== */
/* Biography, Designers, Testimonials */
h4 {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 24px;
    text-align: center;  
}

/* Повернутые заголовки */
h4.rotated {
    transform: rotate(270deg);
    display: inline-block;
    transform-origin: center center;
    margin: 20px 0;
}

/* Заголовки слева */
h4.left-align {
    min-width: max-content; 
    text-align: left;
    margin: 0px 0px 0px 10px;
    white-space: nowrap;
}

/* ===== Art Director и текст справа ===== */
h6, p {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 18px;
    text-align: right; 
}

/* ===== Цитаты Bitter ===== */
/* Первая цитата */
blockquote.bitter-26 {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    text-align: left;
    max-width: 400px;
}

/* Вторая цитата */
blockquote.bitter-32 {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    text-align: left;
}

/* ===== Modern Web Studio ===== */
h3 {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 20px;
    text-align: center;   
}

address {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 16px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 16px;
}

em {
   font-family: 'Roboto', sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   color: black;
   font-size: 16px; 
   display: flex;
   justify-content: space-between; 
   align-items: center;
}

#site {
    font-family: 'Roboto', sans-serif;
    transform: rotate(270deg);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 16px;
    list-style: none;  
    gap: 30px;
}

.first-block {
  position: relative;
  padding: 20px 20px 20px 20px;
  height: 630px;
  width: 100%;
  background-image: url('../img/inside-weather-Uxqlfigh6oE-unsplash-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

div.first-block-text {
  display: flex;
  flex-direction: column;
  background: white;
  width: 690px;      
  height: 360px; 
  padding: 5px 10px 5px 10px;
  align-items: center;
  justify-content: center;
}

div.biography-block {
  display: flex;
  max-width: 100%;
  margin-left: auto; 
  margin-right: auto;
  box-sizing: border-box;
  padding-top: 140px;
}

.img_Katya {
   width: 571px;
   height: 840px;
  -o-object-fit: cover;
     object-fit: cover;
}

div.biography-block-text1 {
  flex-grow: 1;
}

div.biography-block-text2 {
  display: flex;
  width: 39%;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 100px;
  padding-right: 0px;
  margin-right: 0;
}

div.designers-block {
  display: grid;
  width: 100%;
  height: 677px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 10px; 
  white-space: nowrap;
}

div.Designer1 {
  grid-column: 1/span 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 10px;
  margin: 0;
}

div.Designer2 {
  grid-column: 2/span 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 100px;
  padding-left: 20px;
  margin: 0;
}

div.Designer3 {
  grid-column: 3/span 1;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 100px;
  padding-left: 20px;
  margin: 0;
  align-items: center;
}

div.testimonials-block {
  display: grid;
  width: 100%;
  height: 760px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 90px;
  padding-bottom: 90px;
}

div.testimonials-block-links {
  grid-column: 1/span 1;
  padding: 0px;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.link1 {
  color: black;
  white-space: nowrap;   
}

div.testimonials-block-text1 {
  grid-column: 3/span 1;
  padding-top: 0px;
  padding-left: 0px;
  margin: 0;
  padding-right: 62px;
  padding-top: 80px;
}

div.testimonials-block-text2 {
  grid-column: 4/span 1;
  padding-top: 0px;
  padding-top: 8px;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div.portfolio-block {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  gap: 20px;
  white-space: nowrap;
}

.img_room {
grid-column: 1/span 1;
    padding: 0px;
    width: 335px;
    height: 554px;
    margin: 50px 10px 30px 0px;
    -o-object-fit: cover;
       object-fit: cover;
}

.img_desk {
 grid-column: 2/span 1;
    padding: 0px;
    width: 335px;
    height: 554px;
    margin: 50px 10px 30px 0px;
    -o-object-fit: cover;
       object-fit: cover;
}

.img_cafe {
grid-column: 4/span 1;
    padding: 0px;
    width: 335px;
    height: 554px;
    margin: 50px 10px 30px 0px;
    -o-object-fit: cover;
       object-fit: cover;
}

div.list-block {
grid-column: 3/span 1;
    padding: 0px;
    margin: 0;
}

.list-block-names {
  text-align: right;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  text-align: center;
  list-style: none;
  margin: 50px 200px 30px 0px;
}



    
